<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand text-warning" href="/">II Motors Auto Sale</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString() == "/" ? "active" : "")">
                        <a class="nav-link" href="/">Home</a>
                        <!-- <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a> -->
                    </li>
                    <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString() == "/Cars/List" ? "active" : "")">
                        <a class="nav-link" href="/Cars/List">AllCars</a>
                    </li>
                    <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString() == "/Cars/List/electric" ? "active" : "")">
                        <a class="nav-link" href="/Cars/List/electric">Electric Cars</a>
                    </li>
                    <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString() == "/Cars/List/gasoline" ? "active" : "")">
                        <a class="nav-link" href="/Cars/List/gasoline">Gasoline Cars</a>
                    </li>
                    <li class="nav-item @(ViewContext.HttpContext.Request.Path.ToString() == "/ShopCart" ? "active" : "")">
                        <a class="nav-link" href="/ShopCart">Shop Cart</a>
                    </li>

                </ul>
                <span class="navbar-brand text-dark" style="visibility: hidden;">II Motors Auto Sale</span>
                <form class="form-inline mt-2 mt-md-0" asp-controller="Cars" asp-action="Search">
                    <input class="form-control mr-sm-2" type="text" name="searchWord" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container mt-5">
        @RenderBody()
    </div>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2021 Company, Inc. · <a asp-controller="Home" asp-action="Privacy">Privacy</a> · <a asp-controller="Home" asp-action="Terms">Terms</a></p>
    </footer>

    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>